In [1]:
#Basic Optimization

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('transaction_data.csv')

In [4]:
df.head(5)

   Transaction ID   TimeStamp   Amount  Customer ID Payment Method
0          999261  1698617917  1759.69         5655         PayPal
1          785175  1690195733  1237.34        11738         PayPal
2          731665  1695778565  1644.61        11167     Google Pay
3          330716  1681465168   923.89         8895     Google Pay
4          550474  1686770039  1192.04        12054    Credit Card

In [8]:
df.dtypes

Transaction ID             int64
TimeStamp         datetime64[ns]
Amount                   float64
Customer ID                int64
Payment Method            object
dtype: object

In [7]:
df['TimeStamp'] = pd.to_datetime(df['TimeStamp'],unit='s')

In [9]:
df.set_index('Transaction ID',inplace=True)

In [10]:
filter_df=df[df['Payment Method']=='Credit Card']

In [11]:
cache = {'CreditCardTransactions':filter_df}

In [12]:
cached_df = cache.get('CreditCardTransactions')

In [13]:
cached_df

                         TimeStamp   Amount  Customer ID Payment Method
Transaction ID
550474         2023-06-14 19:13:59  1192.04        12054    Credit Card
470966         2023-10-27 13:25:49   219.55         9132    Credit Card
339947         2023-05-16 08:00:39  1850.94         8925    Credit Card
750640         2023-12-22 18:50:36   786.57        12683    Credit Card
442632         2023-08-25 13:22:32   825.77         9421    Credit Card
...                            ...      ...          ...            ...
108511         2023-02-19 22:56:11  1117.50        10392    Credit Card
592605         2024-02-06 04:47:02  1992.29         9685    Credit Card
220496         2023-08-18 03:10:04   743.67         6972    Credit Card
661706         2023-03-12 00:09:01   911.95        13573    Credit Card
589796         2023-12-25 08:50:49   185.97        11771    Credit Card

[397 rows x 4 columns]

In [14]:
#Index the 'Transaction ID' column to optimize data retrieval based on this key.
#Filter the DataFrame to retrieve transactions made with the 'Credit Card' payment method efficiently.
#Cache the filtered DataFrame in memory for future access. 
#Retrieve the filtered data from the cache.