Creating Dataset

In [2]:
#Importing libraries
import pandas as pd
import time as t
import random as rd
import numpy as np

In [4]:
# Function to create the synthetic transaction data
def generate_transaction_data(n):
    transactions = []
    for _ in range(n):
        trans_id = rd.randint(100000, 999999)
        timestamp = int(t.time()-rd.randint(0, 365 * 24 * 60 * 60))
        amount = round(rd.uniform(20,2000),2)
        user_id = rd.randint(5000,13999)
        payment_method = rd.choice(['Credit Card','Debit Card','PayPal','Google Pay'])
        transactions.append([trans_id,timestamp,amount,user_id,payment_method])
    return transactions

transaction_data = generate_transaction_data(1500)

df = pd.DataFrame(transaction_data, columns = ['Transaction ID','TimeStamp','Amount','Customer ID','Payment Method'])

In [5]:
df.head(5)

   Transaction ID   TimeStamp   Amount  Customer ID Payment Method
0          999261  1698617917  1759.69         5655         PayPal
1          785175  1690195733  1237.34        11738         PayPal
2          731665  1695778565  1644.61        11167     Google Pay
3          330716  1681465168   923.89         8895     Google Pay
4          550474  1686770039  1192.04        12054    Credit Card

In [6]:
# Convert DataFrame to CSV file
df.to_csv('transaction_data.csv', index=False)

In [7]:
df.shape

(1500, 5)

In [8]:
df['Transaction ID'].max()

999261

In [9]:
df['Amount'].max()

1999.93

In [11]:
df['Amount'].sum()

1536756.3800000001

In [12]:
df['Payment Method'].value_counts()

Credit Card    397
Debit Card     381
Google Pay     374
PayPal         348
Name: Payment Method, dtype: int64

In [13]:
df.isnull().sum()

Transaction ID    0
TimeStamp         0
Amount            0
Customer ID       0
Payment Method    0
dtype: int64

In [15]:
df.dtypes

Transaction ID      int64
TimeStamp           int64
Amount            float64
Customer ID         int64
Payment Method     object
dtype: object